Repository RakeshPotnuru/publish-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
    "*.js": ["prettier --write", "eslint"],
    "*.json": ["prettier --write"],
    "*.jsx": ["prettier --write", "eslint"],
    "*.ts": ["prettier --write", "eslint"],
    "*.tsx": ["prettier --write", "eslint"]
}

fix formatting
  apps/docs/README.md
  apps/docs/postcss.config.js
  apps/docs/src/assets/images.ts
  apps/docs/src/pages/_app.tsx
  apps/docs/src/pages/_document.tsx
  apps/docs/src/pages/api/hello.ts
Due: prettier --write, eslint

Update package.json with project details
  apps/docs/package.json
Due: prettier --write

Remove .npmrc file and update .gitignore
  apps/frontend/.gitignore
  apps/frontend/.npmrc
Due: none

Add health check endpoint
  packages/core/src/index.ts
Due: prettier --write, eslint

Add cross-env package to core dependencies
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

Add cross-env package to dependencies
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

Refactor build and start scripts
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

fixes
  apps/docs/package.json
  apps/frontend/package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

Update build script in package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

Update start script in package.json
  packages/core/package.json
Due: prettier --write

Update start script to use index.js instead of index.ts
  packages/core/package.json
Due: prettier --write

fix
  packages/core/package.json
Due: prettier --write

Remove NODE_ENV=production from build script
  packages/core/package.json
Due: prettier --write

fix
  packages/core/package.json
  packages/core/tsconfig.json
Due: prettier --write

rftb
  packages/core/tsconfig.json
Due: prettier --write

cver
  packages/core/package.json
  packages/core/tsconfig.json
Due: prettier --write

fverv
  packages/core/railway.json
Due: prettier --write

rvrw
  packages/core/railway.json
Due: prettier --write

Update package.json and env.ts files
  package.json
  packages/core/jest.config.ts
  packages/core/package.json
  packages/core/railway.json
  packages/core/src/config/env.ts
  packages/core/src/index.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

add .npmrc to core
  packages/core/.npmrc
Due: none

tbh4t
  packages/core/.npmrc
Due: none

gbrtr
  packages/core/src/index.ts
  packages/core/src/wss.ts
Due: prettier --write, eslint

etgte
  packages/core/src/index.ts
Due: prettier --write, eslint

rfr3rf
  .husky/pre-commit
  packages/core/src/index.ts
Due: prettier --write, eslint

Add credentials option to CORS configuration
  packages/core/src/index.ts
Due: prettier --write, eslint

hyfnyn
  packages/core/src/index.ts
Due: prettier --write, eslint

Add environment variables and error handling
  packages/core/src/config/env.ts
  packages/core/src/index.ts
  packages/core/src/utils/db.ts
  packages/core/src/utils/redis.ts
Due: prettier --write, eslint

Refactor BullMQ worker setup and add TLS support for Redis connection
  packages/core/src/config/app.config.ts
  packages/core/src/modules/post/publish/publish.helpers.ts
  packages/core/src/utils/aws/ses.ts
  packages/core/src/utils/redis.ts
  packages/core/src/utils/workers.ts
Due: prettier --write, eslint

Refactor verify-email component and update Redis connection options
  apps/frontend/src/components/modules/auth/verify-email.tsx
  packages/core/src/config/app.config.ts
Due: prettier --write, eslint

erbrtbr
  packages/core/src/index.ts
  packages/core/src/utils/redis.ts
Due: prettier --write, eslint

Remove console.log statement
  packages/core/src/index.ts
Due: prettier --write, eslint

Enable loggerLink in development environment and set path for cookieOptions
  apps/frontend/src/lib/providers/trpc.tsx
  packages/core/src/index.ts
  packages/core/src/modules/auth/auth.controller.ts
Due: prettier --write, eslint

Update loggerLink and set trust proxy
  apps/frontend/src/lib/providers/trpc.tsx
  packages/core/src/index.ts
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/utils/redis.ts
Due: prettier --write, eslint

Update cookie options in AuthController
  packages/core/src/modules/auth/auth.controller.ts
Due: prettier --write, eslint

Add error logging and console log statement in AuthService
  packages/core/src/modules/auth/auth.service.ts
Due: prettier --write, eslint

efrfr
  packages/core/src/utils/jwt.ts
Due: prettier --write, eslint
