Repository RakeshPotnuru/publish-studio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Allow rest tools in cors
  apps/frontend/src/middleware.ts
  packages/core/src/index.ts
  packages/core/src/modules/auth/auth.service.ts
Due: prettier --write, eslint

Update CSP header to include AWS S3 bucket URL
  apps/frontend/next.config.js
Due: prettier --write, eslint

docs: Add new pages frontend: fix ui issues
  .prettierignore
  apps/docs/package.json
  apps/docs/public/images/integrations/imagekit-logo.webp
  apps/docs/public/images/platforms/dev-1.png
  apps/docs/src/pages/_meta.json
  apps/docs/src/pages/api/hello.ts
  apps/docs/src/pages/connections/_meta.json
  apps/docs/src/pages/connections/platforms.mdx
  apps/docs/src/pages/connections/platforms/blogger.mdx
  apps/docs/src/pages/connections/platforms/dev.mdx
  apps/docs/tailwind.config.ts
  apps/docs/theme.config.tsx
  apps/frontend/public/images/integrations/imagekit-logo.webp
  apps/frontend/src/assets/images.ts
  apps/frontend/src/components/common/layouts/footer.tsx
  apps/frontend/src/components/modules/dashboard/assets/new-asset.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/publish-post/platforms/index.tsx
  apps/frontend/src/components/modules/dashboard/projects/tools/tone-analysis/index.tsx
  apps/frontend/src/config/site.ts
  packages/core/src/modules/post/publish/publish.helpers.ts
  packages/core/src/utils/aws/ses.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

Fix PDF button and update health endpoint
  apps/frontend/src/components/modules/dashboard/projects/tools/export-project.tsx
  packages/core/src/index.ts
  packages/core/src/modules/auth/auth.routes.ts
Due: prettier --write, eslint

redis
  packages/core/src/utils/redis.ts
Due: prettier --write, eslint

Add retry strategy for Redis connection and update Redis error log message
  packages/core/src/config/app.config.ts
  packages/core/src/utils/redis.ts
Due: prettier --write, eslint

Add email whitelisting and fixes
  .vscode/settings.json
  apps/frontend/src/app/(auth)/layout.tsx
  apps/frontend/src/components/modules/dashboard/projects/project.tsx
  apps/frontend/src/components/ui/mobile-notice.tsx
  packages/core/package.json
  packages/core/src/config/env.ts
  packages/core/src/index.ts
  packages/core/src/modules/auth/auth.controller.ts
  packages/core/src/modules/auth/auth.service.ts
  packages/core/src/utils/configcat.ts
  packages/core/src/utils/redis.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

Update dependencies and scripts
  apps/frontend/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: prettier --write

Docs: add new pages Frontend: fixes
  apps/docs/public/images/integrations/cloudinary-1.png
  apps/docs/public/images/integrations/imagekit-1.png
  apps/docs/public/images/platforms/ghost-1.png
  apps/docs/public/images/platforms/ghost-2.png
  apps/docs/public/images/platforms/hashnode-1.png
  apps/docs/public/images/platforms/medium-1.png
  apps/docs/src/pages/connections.mdx
  apps/docs/src/pages/connections/integrations.mdx
  apps/docs/src/pages/connections/integrations/cloudinary.mdx
  apps/docs/src/pages/connections/integrations/imagekit.mdx
  apps/docs/src/pages/connections/platforms.mdx
  apps/docs/src/pages/connections/platforms/blogger.mdx
  apps/docs/src/pages/connections/platforms/ghost.mdx
  apps/docs/src/pages/connections/platforms/hashnode.mdx
  apps/docs/src/pages/connections/platforms/medium.mdx
  apps/docs/src/pages/connections/platforms/wordpress.mdx
  apps/docs/src/pages/index.mdx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/blogger/index.tsx
  apps/frontend/src/components/modules/dashboard/settings/connections/platforms/wordpress/index.tsx
  apps/frontend/src/config/site.ts
Due: prettier --write, eslint

web: basic setup
  .husky/pre-commit
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/modules/home/index.tsx
  apps/web/src/components/ui/toaster.tsx
  apps/web/src/lib/providers/index.tsx
  apps/web/src/lib/providers/theme.tsx
  apps/web/src/styles/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint

Update home page heading for mobile
  apps/web/src/components/modules/home/index.tsx
Due: prettier --write, eslint

fhntyny
  apps/web/src/components/modules/home/index.tsx
Due: prettier --write, eslint

Refactor home page title styling
  .husky/pre-commit
  apps/web/src/components/modules/home/index.tsx
Due: prettier --write, eslint

Add privacy policy
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/privacy-policy/page.tsx
  apps/web/src/components/common/layout/footer.tsx
  apps/web/src/components/common/layout/navbar.tsx
  apps/web/src/components/ui/heading.tsx
  apps/web/src/components/ui/link-button.tsx
  apps/web/src/config/site.ts
Due: prettier --write, eslint

add terms of service
  apps/web/src/app/cookies/page.tsx
  apps/web/src/app/privacy-policy/page.tsx
  apps/web/src/app/terms-of-service/page.tsx
  apps/web/src/components/common/layout/footer.tsx
  apps/web/src/config/site.ts
Due: prettier --write, eslint

Add invite functionality
  apps/frontend/src/app/(auth)/layout.tsx
  apps/frontend/src/app/(protected)/(dashboard)/layout.tsx
  apps/frontend/src/app/(protected)/layout.tsx
  apps/frontend/src/assets/icons/general.tsx
  apps/frontend/src/components/common/layout/footer.tsx
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/common/layout/navbar/notifications.tsx
  apps/frontend/src/components/common/layout/sidebar.tsx
  apps/web/package.json
  apps/web/src/app/terms-of-service/page.tsx
  apps/web/src/assets/icons.ts
  apps/web/src/components/common/captcha.tsx
  apps/web/src/components/modules/home/index.tsx
  apps/web/src/components/ui/loaders/button-loader.tsx
  apps/web/src/lib/providers/index.tsx
  apps/web/src/lib/providers/trpc.tsx
  apps/web/src/utils/trpc.ts
  packages/core/src/config/constants.ts
  packages/core/src/modules/admin/invite/invite.controller.ts
  packages/core/src/modules/admin/invite/invite.model.ts
  packages/core/src/modules/admin/invite/invite.routes.ts
  packages/core/src/modules/admin/invite/invite.service.ts
  packages/core/src/modules/admin/invite/invite.types.ts
  packages/core/src/routes.ts
  packages/core/src/trpc.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

Update tsconfig.json
  apps/web/tsconfig.json
Due: prettier --write

fix npmrc
  .npmrc
Due: none

move .npmrc file
  apps/web/.npmrc
Due: none

add netlify.toml
  apps/web/netlify.toml
Due: none

rfw
  apps/web/.npmrc
  apps/web/netlify.toml
Due: none

Remove .npmrc file
  apps/web/.npmrc
Due: none

rvwrrv
  apps/web/.npmrc
Due: none

remove pro
  .vscode/settings.json
  apps/frontend/.gitignore
  apps/frontend/.npmrc
  apps/frontend/src/components/common/layout/navbar/index.tsx
  apps/frontend/src/components/ui/pro-button.tsx
  packages/core/src/trpc.ts
Due: prettier --write, eslint

Add frontend production workflow
  .github/workflows/frontend-prod.yaml
Due: none

Add Node.js version and cache configuration for build process
  .github/workflows/frontend-prod.yaml
Due: none

Add Tiptap Pro registry and authentication
  .github/workflows/frontend-prod.yaml
Due: none

Update build command in frontend-prod.yaml
  .github/workflows/frontend-prod.yaml
Due: none

Update build and publish workflow
  .github/workflows/frontend-prod.yaml
Due: none

Add NODE_ENV environment variable for production deployment
  .github/workflows/frontend-prod.yaml
Due: none

Add TERM environment variable to frontend-prod.yaml
  .github/workflows/frontend-prod.yaml
Due: none

Remove frontend-prod.yaml workflow
  .github/workflows/frontend-prod.yaml
Due: none

Add error handling for MongoDB connection failure
  packages/core/src/utils/db.ts
Due: prettier --write, eslint

Add staging banner for all
  apps/admin/src/app/layout.tsx
  apps/frontend/src/app/layout.tsx
  apps/web/src/app/layout.tsx
Due: prettier --write, eslint

Update environment check in layout.tsx
  apps/admin/src/app/layout.tsx
  apps/frontend/src/app/layout.tsx
  apps/web/src/app/layout.tsx
Due: prettier --write, eslint

add SITE_ENV
  apps/web/src/app/layout.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.json)) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)
  eslint: (((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)
